#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 1080px;
  height: 720px;
  border: 1px solid #ccc; //添加阴影

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
